body {
  background-color: #0a0a0a;
  color: #999;
}

.intro-container {
  height: 100vh;
  width: 100vw;
}

.intro-bg-image {
  background-image: url('../img/intro_bg.png');
  background-color: #0a0a0a;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.intro-bg-filter {
  height: 100vh;
  width: 100vw;
  background-color: #0a0a0a;
  opacity: 0.3;
  position: absolute;
  z-index: -10;
}

.intro-text-container {
  float: right;
  margin-right: 520px;
  text-align: right;
  margin-top: 38vh;
}

.intro-text-vocative {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 58px;
  color: #fff;
  line-height: 0.9;
}

.intro-text-name {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: 700;
  font-size: 82px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.intro-text-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 32px;
  color: #afafaf;
  line-height: 0.9;
}

.android-icon {
  vertical-align: 2px;
  fill: #f00;
}

h1 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #f7ad00;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 26px;
}

h4 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.section {
  background-color: #1d2022;
  min-height: 300px;
  width: 100%;
  padding: 81px 20px;
}

.title-box {
  text-align: center;
  padding-bottom: 50px;
}

.title-detail-recent-projects {
  height: 4px;
  width: 100px;
  background-color: #f7ad00;
  top: 76px;
  position: relative;
  margin: 0 auto 0 auto
}

.title-detail-get-in-touch {
  height: 4px;
  width: 100px;
  background-color: #f7ad00;
  top: 76px;
  position: relative;
  margin: 0 auto 0 auto
}

.separator {
  height: 61px;
  width: 100%;
  background-color: transparent;
}

.my-pic {
  float: right;
  position: absolute;
  top: -100px;
  left: 100px;
}

.feature-block-icon {
  vertical-align: 2px;
  width: 32px;
  height: 32px;
}

.btn-primary {
  background: #f7ad00;
  border-color: #ffbe22;
  color: #1d2022;
}

.project-icon {
  height: 100px;
}

.project-details-container {
  padding-top: 34px;
}

.project-screenshot {
  height: 558px;
}

.project-description-container {
  padding-top: 40px;
  text-align: left;
}

.project-title {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 16px;
  color: #f7ad00;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.project-description {
  text-align: justify;;
}

.google-play-button {
}

.github-button {
}

.check-also-item-comment {
  color: #666;
}

.get-in-touch-text {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.get-in-touch-text-spacer {
  height: 136px;
}

.get-in-touch-footer-spacer {
  height: 90px;
}

.circle-button {
  width: 142px;
}

.footer {
  padding-top: 16px;
}

.footer-title {
  font-size: 26px;
}

.who-am-i-spacer {
  height: 90px;
}

.copyright-text {
  text-align: center;
  padding-bottom: 80px;
}

.nav-tabs {
  border-bottom: none !important;
  margin: 40px auto 20px auto;
}

.nav-tabs li {
  margin: 0 6px;
}

.nav-tabs li a {
  padding: 10px 20px;
  border-radius: 4px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #32373a;
  background-color: #32373a;
}

.nav-tabs > li > a:hover {
  border: 1px solid #32373a;
  background-color: #2b2f31;
}

.recent-projects-nav-tabs {
  width: 800px;
  text-align: center;
}

.SHOW-desktop-recent-projects {
  display: block;
}

.SHOW-mobile-recent-projects {
  display: none;
}

@media screen and (max-width: 768px) {
  .title-box {
    padding-bottom: 20px;
  }

  .section {
    padding: 40px 20px;
  }

  .separator {
    height: 20px;
  }

  .my-pic {
    float: none;
    position: relative;;
    top: 0px;
    left: 0px;
    padding: 20px 0 0 20px;
  }

  .title-detail-recent-projects {
    top: 108px;
  }

  .title-detail-get-in-touch {
    top: 76px;
  }

  .intro-text-container {
    margin-right: 80px;
  }

  .intro-text-vocative {
    font-size: 32px;
  }

  .intro-text-name {
    font-size: 42px;
  }

  .intro-text-title {
    font-size: 16px;
  }

  .footer-title {
    font-size: 20px;
  }

  .circle-button {
    width: 80px;
    margin: 30px 10px 0 10px;
  }

  .get-in-touch-text-spacer {
    height: 56px;
  }

  .get-in-touch-footer-spacer {
    height: 20px;
  }

  .copyright-text {
    padding-bottom: 0;
  }

  .footer {
    padding-top: 10px;
  }

  .feature-description {
    margin-bottom: 40px;
  }

  .who-am-i-spacer {
    height: 34px;
  }

  .SHOW-desktop-recent-projects {
    display: none;
  }

  .SHOW-mobile-recent-projects {
    display: block;
  }

  .recent-projects-spacer {
    height: 48px;
  }

  .project-icon {
    margin: 20px 0;
  }
}
