body {
  padding-bottom: 150px;
  background-color: #0a0a0a;
  color: #999;
}

.intro-container {
  height: 100vh;
  width: 100vw;
}

.intro-bg-image {
  background-image: url('../img/intro_bg.png');
  background-color: #0a0a0a;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.intro-bg-filter {
  height: 100vh;
  width: 100vw;
  background-color: #0a0a0a;
  opacity: 0.3;
  position: absolute;
  z-index: -10;
}

.intro-text-container {
  float: right;
  margin-right: 28vw;
  text-align: right;
  margin-top: 35vh;
}

.intro-text-vocative {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 58px;
  color: #fff;
  line-height: 0.9;
}

.intro-text-name {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: 700;
  font-size: 82px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.intro-text-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 32px;
  color: #afafaf;
  line-height: 0.9;
}

.android-icon {
  vertical-align: 2px;
  fill: #f00;
}

h1 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #f7ad00;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 26px;
}

h4 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.section {
  background-color: #1d2022;
  min-height: 300px;
  width: 100vw;
  padding: 10vh 20px 10vh 20px;
}

.title-box {
  text-align: center;
  padding-bottom: 50px;
}

.title-detail {
  height: 4px;
  width: 100px;
  background-color: #f7ad00;
  top: 76px;
  position: relative;
  margin: 0 auto 0 auto
}

.separator {
  height: 10vh;
  width: 100vw;
  background-color: transparent;
}

.my-pic {
  float: right;
  position: absolute;
  top: -100px;
  left: 100px;
}

.feature-block-icon {
  vertical-align: 2px;
  width: 32px;
  height: 32px;
}

.btn-primary {
  background: #f7ad00;
  color: #1d2022;
}

.project-icons-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.project-details-container {
  padding-top: 20px;
}

.project-screenshot {
  height: 558px;
}

.project-description-container {
  padding-top: 40px;
  text-align: left;
}

.project-title {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 16px;
  color: #f7ad00;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.project-description {
  text-align: justify;;
}

.google-play-button {

}

.github-button {
  float: right;
}

.check-also-item-comment {
  color: #666;
}

.get-in-touch-text {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.circle-button {
  width: 12vw;
}

.footer {
}

.footer-title {
  font-size: 26px;
}

.footer-block {
  position: relative;
  height: 180px;
}

.copyright-text {
  position: absolute;
  bottom: 0;
  right: 0;
}
